:root {
    --body_background: #9EC8B9;
    --body_color: #000;
    --nev_bar: #000000b2;
    --main_box_bg_color: #1B4242;
    --ans_backgroung_color: #abf3d9cd;
    --btn_color: #61be9e;
    --btn_hover_color: #70a460;
    --question_color: #2F7E9E;
}

[data-theme="dark"] {
    --body_background: #092635;
    --body_color: white;
    --nev_bar: #5c8374ac;
    --main_box_bg_color: #5C8374;
    --ans_backgroung_color: #1B4242;
    --btn_color: #1b4242c5;
    --btn_hover_color: #8dc04e;
    --question_color: #2F7E9E;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #E2E8F0; /* Light grey from the image */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5A67D8; /* Main color from the image */
    border-radius: 10px;
    border: 3px solid #E2E8F0; /* Matching track color */
    transition: background-color 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #434190; /* Darker shade for hover */
  }
  
  /* Sidebar open state */
  .sidebarOpen {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
  } 