body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

:root {
    /* Landing page color variables */
    --landingPagetitle_color: rgb(181, 212, 216);
    --Landing_btn_color1:#583f19 ;
    --spanLandingPage_color:rgb(44, 100, 111) ;
    --Landing_nav_link_color: rgb(42, 153, 165);
    --Landing_nav_link_color_hover: rgb(43, 207, 225);
    --landing_LetsStart_btn_bg_color:#b3b5b9;
    --landing_LetsStart_btn_bg_color_hover:#fff;
    --landing_SignUp_btn_bg_color:#FCFCFD;
    --landing_SignUp_btn_color:#36395A;
    --landing_SignUp_btn_bg_color_hover:#36395A;
    --landing_SignUp_btn_color_hover:#FCFCFD;
    /* main page variables */
    --main_background: #55698B;
    --body_color: #AFD2DE;
    --heading_color: #dce9f4;
    --nev_bar: #304057;
    --main_box_bg_color: #7589AB;
    --main_btn_bg_color: #e4eff1;
    --main_btn_color: #55698B;
    --main_btn_bg_hover_color: #abdce5;
    --textarea_bg_color:#dce9f4;
    --card_color:#d2edf1 ;
    --logo_color: #ACE1FF;
    --link_color:#9EDCFF;
    --link_hover_color:rgb(2, 187, 255);
    --dropdown_bg_color:#F9F9F9;
    --dropdown_ul_bg_color:#DFDADA;
    --dropdown_ul_bg_hover_color:rgb(153, 203, 236);
    --dropdown_ul_hover_color:#000000;
    --dropdown_ul_color:rgb(59, 156, 221);
    --textarea_bg_color_thumb: #888; 
    --textarea_bg_color_thumb_hover: #555; 

}

[data-theme="dark"] {
    --body_background: #092635;
    --body_color: white;
    --nev_bar: #5c8374ac;
    --main_box_bg_color: #5C8374;
    --ans_backgroung_color: #1B4242;
    --btn_color: #1b4242c5;
    --btn_hover_color: #8dc04e;
    --question_color: #2F7E9E;
}







/* 
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #E2E8F0; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5A67D8;
    border-radius: 10px;
    border: 3px solid #E2E8F0; 
    transition: background-color 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #434190; 
  } */
  
  .sidebarOpen {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
  } 