.logo {
    color: var(--navBar_content_color);
}


.navbar {
    position: sticky;
    z-index: 2;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var( --navBar_bg_color);
    height: 60px;
}


.rightnav div h4 {
    color: var(--navBar_content_color);
    font-size: 20px;
    font-weight: 900;
}

.rightnav div h4:hover {
    color: var(--navBar_link_hover_color);
    text-decoration: underline;
}


.rightnav {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftnav {
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.centernav {
    display: flex;
    align-items: center;
    position: relative;
    left: 100px;
}

.searchbaricon {
    color: black;
    font-size: 25px;
    position: relative;
    left: 32px;
    top: 2px;

}

.searchbar {
    width: 30vw;
    height: 30px;
    border: none;
    outline: none;
    border: 1px solid var(--main_btn_bg_color);
    border-radius: 5px;
    background-color: var(--main_btn_bg_color);
    padding-left: 7%;
    color: var(--main_btn_color);
}

.searchbar::placeholder {
    color: var(--main_btn_color);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40px;
    top: 53px;
    right: -6px;
    background-color: var(--dropdown_bg_color);
    min-width: 160px;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown ul {
    padding: 2%;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.profileList {
    padding: 10px;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.profileList:hover {
    background-color: var(--dropdown_ul_bg_hover_color);
    color: var(--dropdown_ul_hover_color);
}

.link {
    color: var(--dropdown_ul_color);
    text-decoration: none;
}

.loginuser {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
}

.userimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    background-size: cover;
}