:root{
    --Landing-btn-color1:#583f19 ;       ;

}

body {
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}


.LandingPage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background: url(../../assets/LEGOFINAL.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
}

.landingPagetitle{
    font-size: 45px;
    color: rgb(181, 212, 216);
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 1px;
    ;
    /* line-height: 60px; */


}

.mainLandingPage {
    text-align: left;
    width: 450px;
    margin: 100px 0 0 40px;
}

.lego-brick-button {
    background: url('../../assets/wallpaperflare.com-wallpaper.jpg');
}

.p-LandingPage {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: .5px;
    color: rgb(158, 235, 226);
    margin: -20px 0 30px 0;
    opacity: .8;
}



.spanLandingPage {
    color: rgb(48, 155, 227);
    font-weight: 900;
}

.navLandingPage{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.rightnavLandingPage{
    width: 10vw;
    display: flex;
    justify-content: space-between;
}



.leftnavcomponentslandingpage {
    display: flex;
    font-size: 24px;
    margin: 30px 30px 30px 40px;
    width: 35vw;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.leftnavcomponentslandingpage li a {
    text-decoration: none;
    color: rgb(42, 153, 165);
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.leftnavcomponentslandingpage li a:hover {
    text-decoration: underline;
    color: rgb(43, 207, 225);
}


/* btn css */

.btnLandingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    width: 230px;
}

.button74 {
    background-color: #b3b5b9;
    border: 2px solid var(--Landing-btn-color1);
    border-radius: 10px;
    box-shadow: var(--Landing-btn-color1) 4px 4px 0 0;
    color: var(--Landing-btn-color1);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    padding: 0 23px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button74:hover {
    background-color: #fff;
}

.button74:active {
    box-shadow: var(--Landing-btn-color1) 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button74 {
        min-width: 120px;
        padding: 0 25px;
    }
}


/* CSS */
.button30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

.button30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #36395A 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: #36395A;
  color: #FCFCFD;
  border-radius: 8px;
}

.button30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}